body{
    background-image: url("images/linear-white-green-gradient-1920x1080-c2-90ee90-ffffff-a-90-f-14\ \(1\).png");
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
}
p{
    color: #094413;
}
a{
    color: white;
}
.topnav{
    overflow: hidden;
    font-size: 3vh;
    background-color: #094413;
}
.topnav a:hover {
    background-color: darkgrey;
  }
.topnav a{
    float: left;
    padding: 3vh;
}
.active{
    background-color: green;
}
.main-header{
    text-align: center;
    font-size: 70px;
    padding-top: 30vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #094413;
}
#home-paragraph{
    text-align: center;
    font-size: 30px;
    padding-top:0px; 
    margin: 0px;
    padding-left:140px;
    color: #094413;
}

#footer-home-page{
    width: 100%;
    margin-top:30vh;
    border-top: 2px;
    bottom:0;
    color: #094413;
}
.mobile{
    float:right;
    margin-right:30px;
    bottom: 0;
}
.email{
    float:right;
    margin-right: 10px;
    bottom: 0;
}
/* this is the css for the about page */

.info-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #094413;
    border-style: solid;
    border-color: lightgreen;
    margin:1px;
}
.text-in-card{
    display: none;
    color: lightgreen;
}
#about-right-column{
    margin-left: 40vw;
    width:45vw;
    padding: 5px;
}
#about-left-column{
    float: left;
    width: 40vw;
}
#image{
    width: 100%;
    height: 45%;
}
#img-txt{
    font-style: italic;
}
h2{
    color: #094413;
    font-size: 30px;
    margin-top: 0px;
}
#so-far{
    margin-left: 1vw;
    min-height: 39.5vh;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: lightgreen;
    background-color: transparent;
    cursor: pointer;
}